/* ---------card css---------- */

.card-container {
  align-items: center;
  box-sizing: border-box;
 
}

.card {
 display: flex;
 box-sizing: border-box;
 border-radius: 13px;
 align-items: center;


}
.card:only-child{
    display:inline-block;


}

.card img{
  border-radius: 10px;
  width: fit-content;

}

.priceAndnameinfo{
    
    display: flex;
    justify-content: space-between;

 
}
.ratingAndvotes {
    display: flex;
    justify-content: space-between;
    align-items: center; 

}
.rating {
    
    display: flex;
    align-items: center; 
}
.name{
padding: 0 10px;

}
.pricing{
    background-color:#BDE3CC;
    padding: 5px 5px;
    margin-right: 2px;
    border-radius: 5px;
    color: #1C1D1F;
    font-size: 13px;
    font-weight: 700;
}

.votes {
    color: #6E757C;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
}

.popular{
   position: relative;
   top: -255px;
   left:15px;
   background-color:#F5C769 ;
   padding: 4px 10px;
   border-radius: 10px;
   font-size: 11px;
   color: #1C1D1F;
   font-weight: 600;

}

.outOf-stock {
 background-color: transparent;
 color: #ED735C;
 font-size: 14px;
 font-weight: 600;
}
.name,
.pricing,
.votes{
    position: relative;
    top: 2px;
}