/* All maps data and home page text style */
.coffe-list .banner{
    background-image: url('../../assets/image-icon/bg-cafe.jpg');
    background-size: cover;
    width: 100%;
    height: 300px;
}

.coffe-list{
    background-color: #111315;
    color: #f2efef;

}

.all-coffe-and-text{
    width: 80%;
    position: relative;
    top: -170px;
    background-color: #1B1D1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-radius: 11px;
    padding: 40px 40px 60px 40px;
}

/* heading and discreption style  */
.home-text{
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  
}
.vector-image{
  width: 240px;
  position: relative;
  margin: auto;
  left: 131px;
  margin-bottom: 0;
}
.home-text h1,p,.span-stayle{
position: relative;
top: -120px;
padding: 0;

}
.home-text h1{
  margin-bottom: 0;
}
.home-text p{
  width: 50%;
  margin-bottom: 0;
  text-align: center;
  align-items: center;
}
.home-text .span-stayle{
  position: relative;
  top: -60px;
  margin-bottom: 0;
}

/* End heading and discreption style  */



/* ---------------- cards style ----------------*/
.map-coffeeList {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 24px; 
    row-gap: 0px;
  
  }

  /* -----Desktop view---------- */

  @media (max-width: 1024px) {
    .map-coffeeList {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 0px;
    }
  }


/* ----------mobile view---------------- */
@media (max-width: 640px) {

.all-coffe-and-text{
    width: 50%;
    position: relative;
    top: -130px;
    background-color: #1B1D1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-radius: 11px;
    padding: 120px 80px 80px 80px;

}

.map-coffeeList {
  grid-template-columns: 1fr; 
 row-gap: 0px;
}

.home-text img{
  position: relative;
  top: -50px;
  left: 150px;
  clip-path: polygon(0 0, 80% 0, 85% 100%, 0 100%);
  width: 60%;
  height: auto;
}

.home-text {
  position: relative;
  top: -30px;
  padding: 0;
  align-items: center;
  justify-content: center;
  
  }


.home-text h1{
  position: relative;
  margin-bottom: 0;
  margin: auto;

}
.home-text p{
  margin-bottom: 0;
  text-align: center;
  width: 100%;
}

}

@media(max-width:590px){
  .home-text {
  position: relative;
  left: -10px;
  align-items: center;
  font-size:medium;

    }
    .home-text img{
      position: relative;
      left: 140px;
      width: 60%;
      
   }
.home-text h1{
  padding-top: 30px;
  width: 100%;
  font-size: 20px;
  font-weight:bolder;
  text-align: center;
  
} 
.home-text p{
  line-height: 18px;
  width: 100%;
  font-size: 15px;
  text-align: center;
}
.home-text,.span-stayle ,.all-span{
text-align: center;
align-items: center;
margin: auto; 
}

.home-text .vector-image{
  position: relative;
 left: 80px;
 padding-top: 20px;
}
.span-stayle{
  display: flex;
}
.span-stayle .all-span{
  width: 115px;
  position: relative;
  left: -10px;


}

    
}

/* ----------------- button style --------------- */
.all-span {
  cursor: pointer;
  font-weight: 500;
  padding: 10px 15px;
  border-style: none;
  color: white;
  gap: 5px;
  border-radius: 5px; 
  background-color: transparent;
  transition: background-color 0.3s;
  
}

.selected {
  background-color: #6E757D;
  color: white; 
}


.all-span:hover {
  opacity: 0.9; 
}
